@model Cargo;
@{
    float? total = 0;
    var addressCoutn = 0;
    var user = ViewBag.User as User;
}




<section style="padding-top: 80px;">
    <form asp-controller="basket" asp-action="Checkout" class="shop-checkout container mt-4 pt-4 pb-5 mb-5">
        <h2 class="page-title">Shipping and Checkout</h2>
        <div class="checkout-steps">
            <a href="/basket/showbasket" class="checkout-steps__item active">
                <span class="checkout-steps__item-number">01</span>
                <span class="checkout-steps__item-title">
                    <span>Shopping Bag</span>
                    <em>Manage Your Items List</em>
                </span>
            </a>
            <a href="/basket/checkout" class="checkout-steps__item active">
                <span class="checkout-steps__item-number">02</span>
                <span class="checkout-steps__item-title">
                    <span>Shipping and Checkout</span>
                    <em>Checkout Your Items List</em>
                </span>
            </a>
            <button class="checkout-steps__item border-0 bg-transparent">
                <span class="checkout-steps__item-number">03</span>
                <span class="checkout-steps__item-title text-start">
                    <span>Confirmation</span>
                    <em>Review And Submit Your Order</em>
                </span>
            </button>
        </div>
        <div name="checkout-form">
            <div class="checkout-form">
                <div class="billing-info__wrapper">
                    <h4>BILLING DETAILS</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input class="form-control" asp-for="CargoUserName" placeholder="First Name">
                                <span asp-validation-for="CargoUserName" class="text-danger position-relative"></span>
                                <label for="CargoUserName">First Name *</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input class="form-control" asp-for="CargoUserSurname" placeholder="Last Name">
                                <span asp-validation-for="CargoUserSurname" class="text-danger position-relative"></span>
                                <label for="CargoUserSurname">Last Name *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating my-3">
                                <input class="form-control" asp-for="CargoUserPhone" placeholder="Phone *">
                                <span asp-validation-for="CargoUserPhone" class="text-danger position-relative"></span>
                                <label for="CargoUserPhone">Phone *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating my-3">
                                <input type="email" class="form-control" asp-for="CargoUserEmail" placeholder="Your Mail *">
                                <span asp-validation-for="CargoUserEmail" class="text-danger position-relative"></span>
                                <label for="CargoUserEmail">Your Mail *</label>
                            </div>
                        </div>
                        <div class="my-account__address-list">
                            @foreach (Address item in ViewBag.AddressesList)
                            {
                                addressCoutn++;
                                <label for="@("address"+addressCoutn)" class="my-account__address-item">
                                    <div class="my-account__address-item__title">
                                        <h5 class="me-auto">@item.AddressTitle</h5>
                                        <input type="radio" name="Address" id="@("address"+addressCoutn)" value="@(addressCoutn)" class="form-check-input form-check-input_fill" />
                                    </div>
                                    <div class="my-account__address-item__detail">
                                        <p class="mb-1"><b class="me-4 fw-500">Country:</b> @item.AddressCountry</p>
                                        <p class="mb-1"><b class="me-4 fw-500">City:</b>  @item.AddressCity</p>
                                        <p class="mb-1"><b class="me-4 fw-500">Address:</b> @item.AddressDistrict, @item.AddressStreet, @item.AddressHouse, @item.AddressApartment</p>
                                        @* <br>
                                        <p class="mb-1"><b class="me-4 fw-500">Phone:</b> </p>
                                        <p class="mb-1"><b class="me-4 fw-500">Email:</b>@user.UserEmail</p> *@
                                    </div>
                                </label>
                            }
                        </div>
                        <div class="col-md-12">
                            <div class="form-check my-3">
                                <input class="form-check-input form-check-input_fill" name="Address" type="radio" value="0" id="ship_different_address">
                                <label class="form-check-label" for="ship_different_address">SHIP TO A DIFFERENT ADDRESS?</label>
                            </div>
                            <div class="addAddressForm d-none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressCountry" class="form-control" placeholder="Country">
                                            <span asp-validation-for="CargoAddressCountry" class="text-danger position-relative"></span>
                                            <label for="CargoAddressCountry">Country</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressCity" class="form-control" placeholder="City">
                                            <span asp-validation-for="CargoAddressCity" class="text-danger position-relative"></span>
                                            <label for="CargoAddressCity">City</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressDistrict" class="form-control" placeholder="District">
                                            <span asp-validation-for="CargoAddressDistrict" class="text-danger position-relative"></span>
                                            <label for="CargoAddressDistrict">District</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressStreet" class="form-control" placeholder="Street">
                                            <span asp-validation-for="CargoAddressStreet" class="text-danger position-relative"></span>
                                            <label for="CargoAddressStreet">Street</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressHouse" class="form-control" placeholder="House">
                                            <span asp-validation-for="CargoAddressHouse" class="text-danger position-relative"></span>
                                            <label for="CargoAddressHouse">House</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="CargoAddressApartment" class="form-control" placeholder="Apartment">
                                            <span asp-validation-for="CargoAddressApartment" class="text-danger position-relative"></span>
                                            <label for="CargoAddressApartment">Apartment</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-3">
                            <textarea class="form-control form-control_gray rounded-0" asp-for="CargoNotes" placeholder="Order Notes (optional)" cols="30" rows="8"></textarea>
                            <span asp-validation-for="CargoNotes" class="text-danger position-relative"></span>
                        </div>
                    </div>
                </div>
                <div class="checkout__totals-wrapper">
                    <div class="sticky-content">
                        <div class="checkout__totals">
                            <h3>Your Order</h3>
                            <table class="checkout-cart-items">
                                <thead>
                                    <tr>
                                        <th>PRODUCT</th>
                                        <th>SUBTOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Basket item in ViewBag.BasketProducts)
                                    {
                                        total += item.BasketProductQuantity * item.BasketProduct.ProductPrice;
                                        <tr>
                                            <td>
                                                @item.BasketProduct.ProductName x @item.BasketProductQuantity
                                            </td>
                                            <td>
                                                $@string.Format("{0:F2}", (item.BasketProductQuantity * item.BasketProduct.ProductPrice))
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table class="checkout-totals">
                                <tbody>
                                    <tr>
                                        <th>SUBTOTAL</th>
                                        <td>$@string.Format("{0:F2}", total)</td>
                                    </tr>
                                    <tr>
                                        <th>SHIPPING</th>
                                        <td id="shippingType">@ViewBag.BasketDetails.ShippingType</td>
                                    </tr>
                                    <tr>
                                        <th>VAT</th>
                                        <td>$19</td>
                                    </tr>
                                    <tr>
                                        <th>TOTAL</th>
                                        <td>$@ViewBag.BasketDetails.TotalPrice</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @* <div class="checkout__payment-methods">
                            <div class="form-check">
                                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                                       id="checkout_payment_method_1" checked="">
                                <label class="form-check-label" for="checkout_payment_method_1">
                                    Direct bank transfer
                                    <span class="option-detail d-block">
                                        Make your payment directly into our bank account. Please use your Order ID as the payment
                                        reference.Your order will not be shipped until the funds have cleared in our account.
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                                       id="checkout_payment_method_2">
                                <label class="form-check-label" for="checkout_payment_method_2">
                                    Check payments
                                    <span class="option-detail d-block">
                                        Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean
                                        aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet
                                        magna posuere eget.
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                                       id="checkout_payment_method_3">
                                <label class="form-check-label" for="checkout_payment_method_3">
                                    Cash on delivery
                                    <span class="option-detail d-block">
                                        Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean
                                        aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet
                                        magna posuere eget.
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method"
                                       id="checkout_payment_method_4">
                                <label class="form-check-label" for="checkout_payment_method_4">
                                    Paypal
                                    <span class="option-detail d-block">
                                        Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean
                                        aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet
                                        magna posuere eget.
                                    </span>
                                </label>
                            </div>
                            <div class="policy-text">
                                Your personal data will be used to process your order, support your experience throughout this
                                website, and for other purposes described in our <a href="./terms.html" target="_blank">
                                    privacy
                                    policy
                                </a>.
                            </div>
                        </div> *@
                        <button class="btn btn-primary btn-checkout d-flex justify-content-center align-items-center">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>