@using ModaECommerce.Models.ViewModel
@model BaglamaDetails;
@{
    float? total = 0;
    var basketProducts = ViewBag.BasketProducts as List<ModaECommerce.Models.Basket>;
    var emptyCart = (basketProducts == null || !basketProducts.Any()) ? "d-none" : "bir";
}


<section style="padding-top: 80px;">
    <form class="shop-checkout container mt-4 pt-4 mb-5 pb-5" asp-controller="basket" asp-action="showbasket" method="post">
        <h2 class="page-title">Basket</h2>
        <div class="checkout-steps">
            <a href="/basket/showbasket" class="checkout-steps__item active">
                <span class="checkout-steps__item-number">01</span>
                <span class="checkout-steps__item-title">
                    <span>Shopping Bag</span>
                    <em>Manage Your Items List</em>
                </span>
            </a>
            <button type="submit" class="checkout-steps__item border-0 bg-transparent">
                <span class="checkout-steps__item-number">02</span>
                <span class="checkout-steps__item-title text-start">
                    <span>Shipping and Checkout</span>
                    <em>Checkout Your Items List</em>
                </span>
            </button>
            <a href="/basket/checkout" class="checkout-steps__item">
                <span class="checkout-steps__item-number">03</span>
                <span class="checkout-steps__item-title">
                    <span>Confirmation</span>
                    <em>Review And Submit Your Order</em>
                </span>
            </a>
        </div>
        <div class="shopping-cart">
            <div class="cart-table__wrapper position-relative">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Basket item in ViewBag.BasketProducts)
                        {
                            total += item.BasketProductQuantity * item.BasketProduct.ProductPrice;
                            <tr basketId="@item.BasketId">
                                <td>
                                    <div class="shopping-cart__product-item">
                                        <a href="/home/ProductDescription/@item.BasketProductId">
                                            <img loading="lazy" src="/img/productsPhoto/@item.BasketProduct.Photos.ToList()[0].PhotoName" width="120"
                                                 height="120" alt="">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="shopping-cart__product-item__detail">
                                        <h4><a href="/home/ProductDescription/@item.BasketProductId">@item.BasketProduct.ProductName</a></h4>
                                        <ul class="shopping-cart__product-item__options">
                                            <li>Color: @item.BasketProduct.ProductColor.ColorName</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="position-relative overflow-visible">
                                        <input type="hidden" asp-for="SizeId" class="form-control rounded-0">
                                        <label for="SizeId" class="baglamaSizeLabel">Size</label>
                                        <span asp-validation-for="SizeId" class="text-danger position-relative"></span>
                                        <div class="dropdown baglamaSizeDropdown">
                                            <ul>
                                                @foreach (Size size in ViewBag.Sizes)
                                                {
                                                    if (item.BasketProductSizeId == size.SizeId)
                                                    {
                                                        <li id="@size.SizeId" class="dropdown-active">@size.SizeName</li>

                                                    }
                                                    <li id="@size.SizeId">@size.SizeName</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="shopping-cart__product-price">$@item.BasketProduct.ProductPrice</span>
                                </td>
                                <td>
                                    <div class="qty-control position-relative qty-initialized">
                                        <input type="number" disabled value="@item.BasketProductQuantity" min="1" max="10" class="qty-control__number text-center">
                                        <div class="qty-control__reduce">-</div>
                                        <div class="qty-control__increase">+</div>
                                    </div><!-- .qty-control -->
                                </td>
                                <td>
                                    <span class="shopping-cart-total" prie-one-product="@item.BasketProduct.ProductPrice">$@string.Format("{0:F2}", (item.BasketProductQuantity * item.BasketProduct.ProductPrice))</span>
                                </td>
                                <td>
                                    <span class="remove-cart-item bg-transparent border-0">
                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z"></path>
                                            <path d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z">
                                            </path>
                                        </svg>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="basketError">@Html.ValidationMessage("basketError")</div>
                <div class="cart-table-footer justify-content-end">
                    @* <form action="./" class="position-relative bg-body">
                    <input class="form-control" type="text" name="coupon_code" placeholder="Coupon Code">
                    <input class="btn-link fw-500 border-0 bg-transparent position-absolute top-0 end-0 h-100 px-4" type="submit"
                    value="APPLY COUPON">
                    </form> *@
                    <span class="btn btn-light rounded-0 emptyBasket @emptyCart">EMPTY CART</span>
                </div>
            </div>
            <div class="shopping-cart__totals-wrapper">
                <div class="sticky-content">
                    <div class="shopping-cart__totals">
                        <h3>Basket Totals</h3>
                        <table class="cart-totals">
                            <tbody>
                                <tr>
                                    <th>Subtotal</th>
                                    <td class="subtotal">$@string.Format("{0:F2}", total)</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input form-check-input_fill" asp-for="ShippingType" type="radio" shippingCost="0" value="Free shipping" id="free_shipping">
                                            <label class="form-check-label" for="free_shipping">Free shipping</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input form-check-input_fill" asp-for="ShippingType" type="radio" shippingCost="49" value="Flat rate: $49" id="flat_rate">
                                            <label class="form-check-label" for="flat_rate">Flat rate: $49</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input form-check-input_fill" asp-for="ShippingType" type="radio" shippingCost="8" value="Local pickup: $8" id="local_pickup">
                                            <label class="form-check-label" for="local_pickup">Local pickup: $8</label>
                                        </div>
                                        <span asp-validation-for="ShippingType" style="top: -10px;" class="text-danger position-relative"></span>
                                        <div>Shipping to AL.</div>
                                        <div>
                                            <a href="#" class="menu-link menu-link_us-s">CHANGE ADDRESS</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>VAT</th>
                                    <td>$19</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>
                                        <input type="hidden" name="TotalPrice" id="TotalPrice" value="@string.Format("{0:F2}", (total == 0 ? 0.00 : total + 19))" />
                                        <label for="TotalPrice" class="totalPrc">$@string.Format("{0:F2}", (total == 0 ? 0.00 : total + 19))</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mobile_fixed-btn_wrapper">
                        <div class="button-wrapper container">
                            <button type="submit" class="btn btn-primary btn-checkout d-flex justify-content-center align-items-center">PROCEED TO CHECKOUT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>