@model Address

@{
    bool addressAddBool = ViewBag.AddressAdd != null ? (bool)ViewBag.AddressAdd : false;
    bool addressEditBool = ViewBag.AddressEdit != null ? (bool)ViewBag.AddressEdit : false;
}


<section style="padding-top: 80px;">
    <div class="my-account container mt-4 pt-4 mb-5 pb-5">
        <h2 class="page-title">ORDERS</h2>
        <div class="row">
            <div class="col-lg-3">
                @await Html.PartialAsync("_accountMenu")
            </div>
            <div class="col-lg-9">
                <div class="page-content my-account__address">
                    <p class="notice mb-4">The following addresses will be used on the checkout page by default.</p>
                    <div class="my-account__address-list">
                        @foreach (Address item in ViewBag.AddressesList)
                        {
                            <div class="my-account__address-item">
                                <div class="my-account__address-item__title">
                                    <h5 class="me-auto">@item.AddressTitle</h5>
                                    <span class="showEditAddress" id="@item.AddressId">Edit</span>
                                    <a class="text-danger ms-3" href="/user/RemaveAddress/@item.AddressId">Remove</a>
                                </div>
                                <div class="my-account__address-item__detail">
                                    <p class="mb-1"><b class="me-4 fw-500">Country:</b> @item.AddressCountry</p>
                                    <p class="mb-1"><b class="me-4 fw-500">City:</b>  @item.AddressCity</p>
                                    <p class="mb-1"><b class="me-4 fw-500">Address:</b> @item.AddressDistrict, @item.AddressStreet, @item.AddressHouse, @item.AddressApartment</p>
                                    @* <br>
                                    <p class="mb-1"><b class="me-4 fw-500">Phone:</b> </p>
                                    <p class="mb-1"><b class="me-4 fw-500">Email:</b>@user.UserEmail</p> *@
                                </div>
                            </div>
                            <form asp-controller="user" asp-action="EditAddress" asp-route-id="@item.AddressId" method="post" class="editAddressForm @(!addressEditBool ? "d-none": "")">
                                <input type="hidden" id="addressEditBool" name="addressEditBool" value="@addressEditBool" />
                                <h5 class="me-auto">@item.AddressTitle</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressTitle" class="form-control" value="@item.AddressTitle" placeholder="Title">
                                            <span asp-validation-for="AddressTitle" class="text-danger position-relative"></span>
                                            <label for="AddressTitle">Address Title</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressCountry" class="form-control" value="@item.AddressCountry" placeholder="Country">
                                            <span asp-validation-for="AddressCountry" class="text-danger position-relative"></span>
                                            <label for="AddressCountry">Country</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressCity" class="form-control" value="@item.AddressCity" placeholder="City">
                                            <span asp-validation-for="AddressCity" class="text-danger position-relative"></span>
                                            <label for="AddressCity">City</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressDistrict" class="form-control" value="@item.AddressDistrict" placeholder="District">
                                            <span asp-validation-for="AddressDistrict" class="text-danger position-relative"></span>
                                            <label for="AddressDistrict">District</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressStreet" class="form-control" value="@item.AddressStreet" placeholder="Street">
                                            <span asp-validation-for="AddressStreet" class="text-danger position-relative"></span>
                                            <label for="AddressStreet">Street</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressHouse" class="form-control" value="@item.AddressHouse" placeholder="House">
                                            <span asp-validation-for="AddressHouse" class="text-danger position-relative"></span>
                                            <label for="AddressHouse">House</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating my-3">
                                            <input asp-for="AddressApartment" class="form-control" value="@item.AddressApartment" placeholder="Apartment">
                                            <span asp-validation-for="AddressApartment" class="text-danger position-relative"></span>
                                            <label for="AddressApartment">Apartment</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-3">
                                    <button class="btn btn-primary px-4 me-3">Save change</button>
                                    <a href="/user/AccountAddresses" class="btn btn-primary px-4">Cancel</a>
                                </div>
                            </form>

                        }
                    </div>
                    <button class="btn btn-primary showAddAddress">Add address</button>
                </div>
                <form asp-controller="user" asp-action="AddAddress" method="post" class="addAddressForm @(!addressAddBool ?"d-none":"")  page-content">
                    <input type="hidden" id="addressAddBool" name="addressAddBool" value="@addressAddBool" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressTitle" class="form-control" placeholder="Title">
                                <span asp-validation-for="AddressTitle" class="text-danger position-relative"></span>
                                <label for="AddressTitle">Address Title</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressCountry" class="form-control" placeholder="Country">
                                <span asp-validation-for="AddressCountry" class="text-danger position-relative"></span>
                                <label for="AddressCountry">Country</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressCity" class="form-control" placeholder="City">
                                <span asp-validation-for="AddressCity" class="text-danger position-relative"></span>
                                <label for="AddressCity">City</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressDistrict" class="form-control" placeholder="District">
                                <span asp-validation-for="AddressDistrict" class="text-danger position-relative"></span>
                                <label for="AddressDistrict">District</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressStreet" class="form-control" placeholder="Street">
                                <span asp-validation-for="AddressStreet" class="text-danger position-relative"></span>
                                <label for="AddressStreet">Street</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressHouse" class="form-control" placeholder="House">
                                <span asp-validation-for="AddressHouse" class="text-danger position-relative"></span>
                                <label for="AddressHouse">House</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating my-3">
                                <input asp-for="AddressApartment" class="form-control" placeholder="Apartment">
                                <span asp-validation-for="AddressApartment" class="text-danger position-relative"></span>
                                <label for="AddressApartment">Apartment</label>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-primary px-4 me-3">Save</button>
                        <a href="/user/AccountAddresses" class="btn btn-primary px-4">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>