@model List<Product>


<header>
    <div class="head">
    </div>
    @* <section class="category-carousel">
        <div class="container py-5">
            <h2 class="text-center fw-normal fs-35 mb-3 pb-xl-2 mb-xl-4">Top Categories</h2>
            <div class="d-flex">
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_1.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_2.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_3.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_4.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_5.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_6.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_7.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group"
                     aria-label="1 / 24" style="width: 123.75px; margin-right: 58px;">
                    <img loading="lazy" class="w-100 mb-3 h-auto"
                         src="https://uomo-html.flexkitux.com/images/home/demo5/category_8.png" width="124"
                         height="124" alt="">
                    <div class="text-center">
                        <a href="./shop1.html" class="menu-link fw-medium">Handbags</a>
                    </div>
                </div>
            </div>

        </div>
    </section> *@
</header>
<section class="collections my-5 py-5">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-6 h-100">
                <div class="h-100 position-relative"
                     style="background-image: url(/img/bgfoto/collection_grid_1.jpg); background-size: cover;">
                    <div class="position-absolute bottom-0 p-30">
                        <p class="text-uppercase mb-1 ">Hot List</p>
                        <h3 class="text-uppercase"><strong>Women</strong> Collection</h3>
                        <a href="@Url.Action("Shop", new{Gender = "Women"})" class="d-inline-block text-uppercase fw-500 ">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 h-100">
                <div class="collection-item mb-lg-4 position-relative"
                     style="background-image: url(/img/bgfoto/collection_grid_2.jpg); background-size: cover; height: 286px;">
                    <div class="position-absolute bottom-0 p-30">
                        <p class="text-uppercase mb-1 ">Hot List</p>
                        <h3 class="text-uppercase"><strong>Men</strong> Collection</h3>
                        <a href="@Url.Action("Shop", new{Gender = "Men"})" class="d-inline-block text-uppercase fw-500 ">Shop Now</a>
                    </div>
                </div>
                <div class="row" style="height: 286px;">
                    <div class="col-lg-6 h-100 mt-lg-1">
                        <div class="h-100 position-relative"
                             style="background-image: url(/img/bgfoto/collection_grid_3.jpg); background-size: cover;">
                            <div class="position-absolute bottom-0 p-30">
                                <p class="text-uppercase mb-1 ">Hot List</p>
                                <h3 class="text-uppercase"><strong>Kids</strong> Collection</h3>
                                <a href="@Url.Action("Shop", new{Gender = "Kids"})" class="d-inline-block text-uppercase fw-500 ">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 h-100 mt-lg-1">
                        <div class="h-100 position-relative" style="background-color: #f5e6e0;">
                            <div class="position-absolute bottom-0 p-30">
                                <h3 class="text-uppercase"><strong>E-Gift</strong> Cards</h3>
                                <p class="mb-1 ">Surprise someone with the gift they<br>really want.</p>
                                <a href="./shop1.html" class="d-inline-block text-uppercase fw-500 ">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hot-deals py-5">
    <div class="container my-5">
        <h2 class="fw-normal text-center mb-3 pb-xl-3 mb-xl-3 text-white fs-35">Deal Of The Week</h2>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-20per d-flex align-items-center flex-column justify-content-center py-4 align-items-md-start">
                <h2 class="text-white h3">Summer Sale</h2>
                <h2 class="fw-bold text-white h3">Up to 60% Off</h2>

                <div class="position-relative d-flex align-items-center text-center text-white pt-xxl-4 js-countdown mb-3"
                     data-date="18-5-2024" data-time="06:50"></div>

                <a href="/home/shop" class="hot-deals-btn text-uppercase text-white fw-500  mt-3">View All</a>
            </div>
            <div class="col-md-6 col-lg-9 col-xl-80per">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper mb-5">
                        @foreach (var item in Model)
                        {
                            <div class="swiper-slide">
                                <div class="card bg-transparent border-0">
                                    <div class="card-img">
                                        <a href="/home/productDescription/@item.ProductId">
                                            <img src="@item.ProductPhoto" class="card-img-top  rounded-0" width="258" height="313" alt="...">
                                        </a>

                                    </div>
                                    <div class="card-body position-relative p-0 mt-3">
                                        <h6 class="card-title mb-0 fw-normal">
                                            <a href="/home/productDescription/@item.ProductId"
                                               class="text-white">@item.ProductName</a>
                                        </h6>
                                        <div class="product-card__price d-flex">
                                            <span class="text-white">$@item.ProductPrice</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination position-relative mt-4 "></div>
                </div>
                <!-- <div class="products-pagination type2 active-white mt-4 d-flex align-items-center justify-content-center swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                        aria-label="Go to slide 1"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                        aria-label="Go to slide 2"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                        aria-label="Go to slide 3"></span>
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                        role="button" aria-label="Go to slide 4"></span>
                    <span class="swiper-pagination-bullet" tabindex="0" role="button"
                        aria-label="Go to slide 5"></span>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="products-grid py-5 mt-5">
    <div class="container text-center">
        <h2 class="pb-2 mb-4">OUR TRENDY <strong>PRODUCTS</strong></h2>
        <ul class="nav mb-3 text-uppercase justify-content-center border-0">
            <li class="nav-item">
                <a class="nav-link nav-link_underscore active fw-500" href="#">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link_underscore fw-500" href="#">New Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link_underscore fw-500" href="#">Best Seller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link_underscore fw-500" href="#">Top Rated</a>
            </li>
        </ul>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_card", item)
            }
        </div>
    </div>
</section>
<section class="brands-carousel container position-relative pb-5 mb-5">
    <h2 class="d-none">Brands</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper text-center">
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand1.png" width="120" height="20" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand2.png" width="87" height="20" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand3.png" width="132" height="22" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand4.png" width="72" height="21" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand5.png" width="123" height="31" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand6.png" width="137" height="22" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand7.png" width="94" height="21" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand1.png" width="120" height="20" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand2.png" width="87" height="20" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand3.png" width="132" height="22" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand4.png" width="72" height="21" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand5.png" width="123" height="31" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand6.png" width="137" height="22" alt="">
            </div>
            <div class="swiper-slide" style="width: 175.714px; margin-right: 30px;">
                <img loading="lazy"
                     src="https://uomo-html.flexkitux.com/images/brands/brand7.png" width="94" height="21" alt="">
            </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div> -->
    </div>
</section>
